::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  background: #000000; 
  border-radius: 4px;
}

/* Optional: hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background: #444; 
}

html,body{
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
